
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AirTransportation</title>
</head>
<body>
    <div> 
        <h2>We do transportation by air</h2>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQvU2VOjt4fA7CVJuLAq1whaWMeeBy3uhRdQ3zPScFCAhqgqKS_uQ" />
    </div>
</body>
</html>
