
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoadTransportation</title>
</head>
<body>
    <div>
        <h2>We do transportation by road</h2> 
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0cUKqYwYcgqqwQWhSTr5rHyZOLlmPbmz0y2a3E89qwv0e0ZfA-Q" />
    </div>
</body>
</html>
