
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeaTransportation</title>
</head>
<body>
    <div> 
        <h2>We have transportation over the sea</h2>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRDxQMfdAk1FHe2bs_XWxy4q7_ZBMHo6WJASrdLQMU2nnfyRMUv" />
    </div>
</body>
</html>
