
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coca-Cola Company</title>
</head>
<body>
    <div> 
        <h2>The Coca-Cola company</h2>

        <img src="http://chamber.ua/img/OSP-2010/5.jpg" />
    </div>
</body>
</html>
