
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nestle Company</title>
</head>
<body>
    <div> 

        <h2>Nestle Ukraine</h2>

        <img src="http://www.nestle.ua/skin-engine-shared/NCorp/css/images/corporate-logo.png" />
    </div>
</body>
</html>
