
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open Positions in Accounting Dept</title>
</head>
<body>
    <div>
        <ul>
            <li>Junior Accounting Specialist</li>
            <li>Chief Accountant</li>
        </ul>
    </div>
</body>
</html>
