
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open Positions in Marketing</title>
</head>
<body>
    <div> 
        <ul>
            <li>Junior Marketing Specialist</li>
            <li>Senior Marketing Specialist</li>
        </ul>
    </div>
</body>
</html>
