
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open Positions in Sales Department</title>
</head>
<body>
    <div> 
        <li>Junior Sales Manager</li>
        <li>Senior Sales Analyst</li>
    </div>
</body>
</html>
